#NotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }