.header {
  background-image: url('MainWebsite.jpg'); /* URL do losowego zdjecia w necie(na razie)*/
  background-size: cover;
  background-position: center;
  height: 350px;
  color: white;
  padding: 100px 0;
  text-align: center;
  transition: background-position 0.9s; /* Płynne przejście, czas zmieniania pozycji* */
}

.header.scrolled {
  background-position: center calc(40% + 100px); /*Animacja przewijania*/
}

/*Karty!*/
.card-view {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 40px;
  height: 200px;
  border: 1px solid #000000;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 100%;
  color: white; 
  text-align: center;
  font-size: 24px; 
  font-family: 'Comic Sans MS', sans-serif;
  padding-bottom: 1px;
  border-radius: 10px;
}
.calc {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/103/402/544/blueprint-technical-pattern-wallpaper-preview.jpg');
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: right;
}

.calc h2, .calc p {
  margin-right: 50px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 50px; 
}

.button:hover {
  background-color: #0056b3;
}